<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Velkommen</title>
    <link rel="stylesheet" href="style.css" />
    <script>
      setTimeout(() => {
        document.getElementById("password").textContent =
          "Beklager, håber ikke der var nogen der så det";
      }, 10000);
    </script>
    <style>
      * {
        color: #eee;
      }
      p {
        margin-bottom: 50px;
      }
      h2 {
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Velkommen, <%= username %>!</h1>
    <h2 id="password">Ups, din adgangskode, <%= password %>, skulle ikke være vist</h1>
    <p>Bruger oprettet den: <%= createdAt %></p>
    <form action="/logout" method="GET">
      <button type="submit">Log ud</button>
  </body>
</html>
